

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/" class="navbar-brand">Integrator-Mon</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        
        <div class="col-lg-6 col-md-6 center-block">
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">

                <li ng-class="{active: selectedLink==0}">
                    <a href="#/" ng-click="selectedLink=0">Dashboard</a>
                </li>

                <li ng-class="{active: selectedLink==1}">
                    <a href="#/bi" ng-click="selectedLink=1">BI</a>
                </li>
                <li ng-class="{active: selectedLink==2}">
                    <a href="#/act" ng-click="selectedLink=2">ACT</a>
                </li>

            </ul>

        </div>

    </div>
    </div>
</div>