body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}

.navbar-default {
background-color: #ffffff;
border-color: #4F0A0A;
border-bottom: 4px solid tomato;
}



.pointer
{
    border-bottom:2px solid  tomato;
    
}

.match
{
    background:#E1FF3E ;
    background:rgba(206,255,69,0.5);
}

.nomatch
{
    background-color:red;
     background:rgba(255,128,62,0.5);
}

li.active{
    background-color:#EEEEEE;
}

span.word{
    line-height:2.2em;
    padding: 3px 0;
}

div.timer{
   display: inline;
/* background: tomato; */
padding: 9px 5px;
border:1px solid tomato;
border-radius: 2px;

}

.float-right{
    float:right;
    margin:15px;
    text-align:right;
}

.float-right .badge{
    font-size:medium;
}

.center-block{
  float: none;
}

.modal-header
{
  background: tomato;
}

.bold{
  font-weight: bold;
}

.modal-body .row{

  margin: 1.6em 0;

}

.bs-docs-section
{
  margin-top: 4em;
}

#banner
{
  min-height: 15px;
}

.list-unstyled .active
{
   background-color:#ffffff;
   border-bottom: 1px solid tomato;

}

.control-label-BI
{
  font-size: 1.5em;
  font-weight: bold;

}

.info-activity
{
  background-color: #FFFFCC;
  border: 1px solid tomato ;
  border-radius: 5px;
  min-height: 3em;
  padding: 8px;
}

.fail-cc
{
  background-color: red;
}

